body{
    background-color: rgb(244, 219, 223);
}
h1{
    color:navy;
    text-align: center;
}
h2{
    color: blueviolet;
    text-align: center;
}
p,li{
    font-size: large;
}
sub{
    color: steelblue;
    font-size: larger;
}
pre{
    font-size:large;
    /* border: 2px solid black; */
    text-align:center;
    color:midnightblue;
    /* background-color: darkkhaki; */
}
sup{
    font-size: x-large;
}
img{
    width: 30%;
    height: 10%;
    
}
@media  screen and (min-width: 480px) and (max-width:860px ) {
    body {
      background-color: rgb(217, 161, 235);
    }
    pre{
        background-color: rgb(236, 180, 94);
        text-align: justify;
    }
  }