body{
    background-color: rgb(244, 219, 223);
}
h1{
    color:navy;
    text-align: center;
}
h2{
    color: blueviolet;
    text-align: center;
}
p,li{
    font-size: larger;
}
sub{
    color: steelblue;
    font-size: larger;
}
pre{
    font-size:large;
    border: 2px solid black;
    text-align: center;
    color:midnightblue;
    background-color: darkkhaki;
}
sup{
    font-size: x-large;
}